<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style-welc.css">
</head>
<body>
    <h1 class="welcome">WEL<b class="pink">COME .</b></h1>
    <p class="analysis"> <b class="pink">  The Detailed analysis  </b> of each Domain is listed [Pick]</p>
    <div class="btns">
        <a href="/analy">
        <button class="class">Before 10th </button>
        <button class="class"> In 10th </button>
        <button class="class">In 12th </button>
        </a> 
    </div>
</body>
</html>