<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style-anl.css">
</head>
<body>
    <h1 class="dom">Analysis Of The Feedbacks </h1>
    <h1 class="dom d">in This Domain . .</h1>
    <img src="{{url_for('static',filename='pie_chart.jpg')}}" alt="" class="pie">
    <img src="{{url_for('static',filename='barchart.jpg')}}" alt="" class="bar">
</body>
</html>