<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/style-admin.css">
</head>
<body>
    <div class="admin-mail">
        <p class="mail-id">ENTER YOUR PASSWORD</p>
        <input type="password" name="email" id="" class="mail-box"> <a href="/adminwel"><button class="r-arrow"> <img src="{{url_for('static',filename='right-arrow.png')}}" class="arr" alt=""></button> </a> 
    </div>
</body>
</html>