<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\stage1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Poppins&display=swap" rel="stylesheet">
    <title>Stage1</title>
</head>
<body>
    <form action="/" method="POST">
    <div >
        <h1 class="Head">Sample Survey <b class="b"> Questions</b> </h1>
        <h1 class="Head1"> After <b class="b">Workshop...</b></h1>
    </div>
    <div class="div">
        <p class="qn">1)Was the program good and useful?</p>
        <textarea required class="form-group" id="program" name="program" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">2)Did you understand most of the topics/information shared?</p>
        <textarea requried class="form-group" name="teaching" id="teaching" cols="50" rows="5" placeholder=" Enter Your Feedback" 
        ></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">3)Did you enjoy the activities?</p>
        <textarea required class="form-group" name="enjoy" id="enjoy" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">4)Are the presentations /  videos/work materials good to see, read and easy to understand?</p>
        <textarea required class="form-group"  name="presentation" id="presentation" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">5)Has your knowledge increased about different career paths / job opportunities / preparation?</p>
        <textarea required class="form-group"  name="job" id="job" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">6)Do you have better clarity now on your next steps than before the program?</p>
        <textarea required class="form-group" name="clarity" id="clarity" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">7)Do you recommend this program for your juniors / other friends too?</p>
        <textarea required class="form-group" name="recommend" id="recommend" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">8)Will you reach out to us if you have questions? </p>
        <textarea required class="form-group" name="questions" id="questions" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">9)Is it easy for you to set your own goals now? Can you do it?</p>
        <textarea required class="form-group" name="goal" id="goal" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">10)Has your career choices changed with new or more options now?</p>
        <textarea required class="form-group" name="choice" id="choice" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <br>
    <div class="div">
        <p class="qn">11)Are you more aware and confident about your career choices as well as decision making now? </p>
        <textarea requried class="form-group" name="aware" id="aware" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <div class="div" >
        <p class="qn">12)Which part of the session you enjoyed the most? </p>
        <textarea requried class="form-group" name="part" id="part" cols="50" rows="5" placeholder=" Enter Your Feedback"></textarea>
    </div>
    <button class="button">Submit</button>
    <br><br><br>
</body>
</html>